@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
.overlay{
    background-size: 60%;
    animation: overlayAnim 2.5s infinite linear;
}
@keyframes overlayAnim{
    from {
        background-position-y: 0%;
    }
    to{
        background-position-y: 100%;
    }
}