@import "tailwindcss";
.newspaperTitle {
  font-family: Sancreek;
}
.newsContent {
  font-family: "Noticia Text";
}

.vignette {
  box-shadow: 0 0 12em 7em #000000 inset;
  scale:1.1;
    animation: shakeLight 2s infinite alternate;
}
@keyframes shakeLight {
  0% {
    transform: translate(-2em,2em);
  }
  33% {
    transform:translate(2em,2em);
}
66% {
      transform:translate(2em,-2em);
    }
    100% {
      transform:translate(-2em,-2em);
  }
}
