@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";
.terminalParent{
  font-family: 'Source Code Pro';
  text-transform: uppercase;
  font-weight: 500;
}
.terminal-cursor {
  display: inline-block;
  width: 10px;
  height: 1.2em;
  /* background: #00FF41; */
  margin-left: 4px;
  animation: blink 0.8s infinite;
  /* vertical-align: middle; */

}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.scanlines {
  background: linear-gradient(
    rgba(18, 16, 16, 0) 50%, 
    rgba(0, 0, 0, 0.25) 50%
  ), linear-gradient(
    90deg, 
    rgba(255, 0, 0, 0.06), 
    rgba(0, 255, 0, 0.02), 
    rgba(0, 0, 255, 0.06)
  );
  background-size: 100% 4px, 3px 100%;
  z-index: 20;
}

/* Subtle Flicker */
.terminalText {
  text-shadow: 0 0 5px #00FF41;
  animation: flicker 0.15s infinite;

}

@keyframes flicker {
  0% { opacity: 0.98; }
  50% { opacity: 1; }
  100% { opacity: 0.99; }
}